body {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

button:hover {
  cursor: pointer;
}

button:focus {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

input:focus {
  background-color: #d6c5c5;
}

input:hover {
  outline: 1px solid;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.pink-text {
  color: #f1808f;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.advantages {
  background-color: #222222;
  min-height: 341px;
}

.advantages__list {
  min-height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__item-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #fbfbfb;
  text-align: center;
  margin: 28px 0 16px 0;
}

.advantages__item-text {
  color: #fbfbfb;
  margin: 0 30px 0 0;
  width: 360px;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 63px;
}

.brand__title-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 42px;
  background-color: #f1E4E6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
}

.brand__title::before {
  content: '';
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
  position: absolute;
  left: 18px;
}

.brand__sub-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  font-style: normal;
  display: block;
}

.brand__sub-title-pink {
  color: #f1808f;
}

.cart__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #f16d7f;
  padding: 60px 0 60px 0;
  background-color: #f8f3f4;
}

.cart__wrp {
  margin: 96px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 306px;
  width: 652px;
  margin: 0 129px 40px 0;
  -webkit-box-shadow: 20px 20px 16px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 20px 20px 16px 2px rgba(34, 60, 80, 0.2);
}

.cart__item-img {
  margin-right: 32px;
}

.cart__item-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  margin: 22px 0 42px;
}

.cart__sub-item-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: #575757;
  margin-bottom: 6px;
}

.cart__button {
  position: absolute;
  border: none;
  fill: #575757;
  right: 22px;
  top: 28px;
}

.cart__button:hover {
  opacity: 0.8;
}

.cart__button-wrp {
  max-width: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
  margin-bottom: 128px;
}

.cart__wrp-button {
  text-transform: uppercase;
  font-weight: 300;
  background-color: white;
  color: #000000;
  border: 1px solid #a4a4a4;
  padding: 16px 40px;
}

.cart__wrp-button:hover {
  opacity: 0.8;
}

.cart__adress {
  margin: 0 0 57px 0;
}

.cart__adress-title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  margin-bottom: 20px;
}

.cart__adress-input {
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
  font-style: normal;
  min-height: 44px;
  width: 100%;
  margin: 0 0 20px 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cart__adress-button {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  color: #4a4a4a;
  padding: 10px 14px;
  border: 1px solid #A4A4A4;
}

.cart__prise {
  background-color: #f5f3f3;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart__prise-sub-title {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  color: #4a4a4a;
  margin: 39px 34px 12px 0;
}

.cart__prise-title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 37px 0 0;
}

.cart__price-wrp-button {
  text-align: center;
}

.cart__prise-button {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  padding: 15px 42px;
  background-color: #f16d7f;
  color: white;
  border: none;
  margin: 54px 0 0 0;
}

.cart__prise-button:hover {
  background-color: white;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.footer {
  min-height: 448px;
  background-image: url("../img/footerbackground.png");
}

.footer__top {
  min-height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__top-founder {
  margin: 86px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top-img {
  margin: 0 0 36px 0;
}

.footer__top-desc {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #222224;
  text-align: center;
}

.footer__top-subscription {
  margin: 150px 0 0 0;
}

.footer__top-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
  color: #222224;
  text-align: center;
}

.footer__top-text {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #222224;
  text-align: center;
}

.footer__top-input {
  min-height: 50px;
  width: 256px;
  background-color: #e1e1e1;
  color: #222224;
  border: none;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
  padding-left: 22px;
  margin-right: -3px;
}

.footer__top-input:focus {
  outline: none;
}

.footer__top-button {
  margin: 32px 0 0 0;
  min-height: 50px;
  width: 100px;
  background-color: #f16d7f;
  color: #ffffff;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  border-bottom-left-radius: 5px;
}

.footer__top-button:hover {
  background-color: transparent;
  color: #f1808f;
  border: 1px solid #f1808f;
}

.footer__bottom {
  background-color: #222222;
  min-height: 79px;
}

.footer__bottom-wrp {
  min-height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bottom-copy {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
}

.footer__bottom-link {
  fill: black;
  margin: 0 8px 0 0;
}

.footer__bottom-link:hover {
  fill: white;
  stroke: #f1808f;
}

.header {
  background-color: #222222;
}

.header__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__menu-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__button {
  margin-top: 7px;
}

.header__search {
  background-color: #222222;
  border: none;
  position: absolute;
  width: 1150px;
  height: 50px;
  top: -2px;
  left: -1px;
}

.header__form {
  display: none;
}

.header__nav-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__menu {
  position: absolute;
}

.header__menu-button:active + .header__menu {
  display: block;
}

.header__button {
  fill: white;
  background-color: transparent;
  border: 0;
}

.header__search-button:active + .header__form {
  content: '';
  display: block;
}

.header__button:hover {
  fill: #c2bebe;
}

.header__button:active {
  fill: white;
}

.header__link {
  fill: white;
  margin: 0 0 0 33px;
}

.header__link:hover {
  fill: #c2bebe;
}

.header__link:active {
  fill: white;
}

.header__menu {
  display: none;
}

.products__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  text-align: center;
  margin: 96px 0 6px 0;
}

.products__text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #9f9f9f;
  text-align: center;
}

.products__first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__item {
  margin: 50px 30px 0 0;
}

.products__item-img {
  width: 100%;
}

.products__item-overlay {
  height: 420px;
  position: relative;
  background-color: black;
}

.products__item-overlay:hover .products__item-img {
  content: '';
  opacity: 0.4;
}

.products__item-overlay:hover .products__item-wrp {
  content: '';
  display: block;
}

.products__item-wrp {
  color: #ffffff;
  padding: 13px 15px 13px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  border: 1px solid white;
  display: none;
}

.products__item-button {
  color: #ffffff;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
}

.products__item-button::before {
  content: '';
  position: absolute;
  background-image: url("../img/basket.svg");
  width: 32px;
  height: 29px;
  left: 15px;
  top: 12px;
}

.products__item-title {
  margin: 25px 0 12px 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.products__item-text {
  margin: 0 0 18px 0;
  font-weight: 300;
  color: #5d5d5d;
}

.products__item-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #f1808f;
}

.products__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__button {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  border: 1px solid;
  padding: 14px 35px;
  color: #f1808f;
  margin: 83px 0 95px 0;
  background-color: transparent;
}

.products__button:hover {
  background-color: #f16d7f;
  color: #ffffff;
}

.registration__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 64px 0 96px 0;
}

.registration__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  padding: 60px 0 60px 0;
  background-color: #f8f3f4;
}

.registration__input-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  margin: 0 0 20px 0;
}

.registration__radio {
  margin: 35px 0 35px 0;
}

.registration__sub-input {
  margin: 0 0 20px 0;
  display: block;
  height: 45px;
  width: 450px;
}

.registration__input-text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #b1b1b1;
  margin: 0 0 39px 0;
}

.registration__input-button {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f16d7f;
  border: none;
  padding: 17px 66px 17px 30px;
  position: relative;
}

.registration__input-button::after {
  content: '';
  position: absolute;
  background-image: url("../img/whitearrow.svg");
  width: 17px;
  height: 10px;
  top: 22px;
  right: 27px;
}

.registration__information-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #000000;
  margin: 0 0 22px 0;
}

.registration__information-text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #000000;
  margin: 0 0 21px 0;
}

.registration__information-item {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #000000;
  margin: 0 0 16px 0;
  position: relative;
  padding: 0 0 0 30px;
}

.registration__information-item:before {
  content: '';
  width: 15px;
  height: 15px;
  background-image: url("../img/check_mark.svg");
  background-size: 15px 15px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.sales__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sales__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  min-height: 260px;
}

.sales__item_woman {
  background-image: url("../img/salewomen.png");
  margin: 0 30px 30px 0;
}

.sales__item_man {
  background-image: url("../img/salemen.png");
  margin: 0 30px 30px 0;
}

.sales__item_kids {
  background-image: url("../img/salekid.png");
  margin: 0 0 30px 0;
}

.sales__item_accesories {
  background-image: url("../img/saleaccesories.png");
  width: 100%;
}

.sales__item-link {
  text-decoration: none;
}

.sales__item-text {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: center;
}

.sales__item-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  color: #f1808f;
}
/*# sourceMappingURL=style.css.map */