:root {
    --black: #222222;
    --pink-bkg:  #f1E4E6;
    --pink-text: #f1808f;
    --white-text: #ffffff;
}

body{
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

button:hover{
    cursor: pointer;
}

input:focus{
    background-color: #d6c5c5;
}

.container{
    width:1140px;
    margin:0 auto;
}

.header {
    background-color: var(--black);
}

.header__wrp{
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__menu-group{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__button{
    margin-top: 7px;
}

.header__search{
    background-color: var(--black);
    border: none;
    position: absolute;
    width: 1150px;
    height: 50px;
    top: -2px;
    left: -1px;
}

.header__form{
    display: none;
}

.header__nav-group{
    display: flex;
    align-items: center;
    position: relative;
}

.header__menu{
    position: absolute;
}

.header__menu-button:active + .header__menu{
    display: block;
}

.header__button {
    fill: white;
    background-color: transparent;
    border: 0;
}

.header__search-button:active + .header__form{
    content: '';
    display: block;
}

.header__button:hover{
    fill: #c2bebe;
}

.header__button:active{
    fill: white;
}

.header__link {
    fill: white;
    margin: 0 0 0 33px;
}

.header__link:hover{
    fill: #c2bebe;
}

.header__link:active{
    fill: white;
}

.header__menu {
    display:none;
}

.brand {
    display: flex;
    margin: 0 0 63px;
}

.brand__title-wrp {    
    display: flex;
    align-items: center;
    padding: 0 0 0 42px;
    background-color: var(--pink-bkg);
    flex-grow: 1;
    position: relative;
}

.brand__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: var(--black);
    text-transform: uppercase;
}

.brand__title::before {
    content:'';
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
    position: absolute;
    left: 18px;
}

.brand__sub-title {
    display: block;
    font-size: 32px;
    line-height: 38px;
}

.brand__sub-title-pink {
    color: var(--pink-text);
}

.sales__list {
    display: flex;
    flex-wrap: wrap;
}

.sales__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sales__item_woman{
  background-image: url('../img/salewomen.png');
  margin: 0 30px 30px 0;
}

.sales__item_man{
    background-image: url('../img/salemen.png');
    margin:0 30px 30px 0
}

.sales__item_kids{
    background-image: url('../img/salekid.png');
    margin: 0 0 30px 0;
}
.sales__item_accesories{
    background-image: url('../img/saleaccesories.png');
    width: 100%;
}

.sales__item-link{
    text-decoration: none;
}

.sales__item-text{
    color: var(--white-text);
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.sales__item-title{
    color: var(--pink-text);
    text-transform: uppercase;
    font-weight: 700px;
    font-size: 24px;
    line-height: 29px;
}

.products__title {
    font-size: 30px;
    line-height: 36px;
    color: var(--black);
    text-align: center;
    margin: 96px 0 6px 0;
}

.products__text {
    font-size: 14px;
    line-height: 16px;
    color: #9f9f9f;
    text-align: center;
}

.products__first-line{
    display: flex;
}

.products__second-line{
    display: flex;
}

.products__item {
    margin: 50px 30px 0 0;
}

.products__item-img{
    width: 100%;
}

.products__item-overlay{
    height: 420px;
    position: relative;
    background-color: rgba(0, 0, 0, 10);
}

.products__item-overlay:hover .products__item-img{
    content: '';
    opacity: 0.4;
}

.products__item-overlay:hover .products__item-wrp{
    content: '';
    display: block;
}

.products__item-wrp{
    color: var(--white-text);
    padding: 13px 15px 13px 50px;
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 1px solid white;
    display: none;
}

.products__item-button{
    color: var(--white-text);
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
}

.products__item-button::before{
    content: '';
    position: absolute;
    background-image: url('../img/basket.svg');
    width: 32px;
    height: 29px;
    left: 15px;
    top: 12px;
}

.products__item-title {
    margin:25px 0 12px 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.products__item-text {
    margin: 0 0 18px 0;
    font-weight: 300;
    color: #5D5D5D;
}

.products__item-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: var(--pink-text);
}

.products__wrp{
    display: flex;
    justify-content: center;
}

.products__button{
    text-decoration: none;
    border: 1px solid ;
    padding: 14px 35px;
    font-size: 16px;
    line-height: 19px;
    color: var(--pink-text);
    margin: 83px 0 95px 0;
    background-color: transparent;
}

.products__button:hover{
    background-color: #F16D7F;
    color: var(--white-text);
}

.advantages {
    background-color: var(--black);
    min-height: 341px;
}

.advantages__list {
    min-height: 341px;
    display: flex;
    justify-content: space-aroud;
    align-items: center;
}

.advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__item-title {
    font-size: 20px;
    line-height: 24px;
    color: #fbfbfb;
    text-align: center;
    margin: 28px 0 16px 0;
}

.advantages__item-text {
    font-weight: 400;
    color: #fbfbfb;
    margin: 0 30px 0 0;
    width: 360px;
}

.footer{
    min-height: 448px;
    background-image: url('../img/footerbackground.png');
}

.footer__top {
    min-height: 448px;
    display: flex;
    justify-content: space-around;
}

.footer__top-founder {
    margin: 86px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__top-img {
    margin: 0 0 36px 0;
}

.footer__top-desc {
    font-size: 20px;
    line-height: 24px;
    color: #222224;
    text-align: center;
}

.footer__top-subscription{
    margin: 150px 0 0 0;
}

.footer__top-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #222224;
    text-align: center;
}

.footer__top-text {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    color: #222224;
    text-align: center;
}

.footer__top-input{
    min-height: 50px;
    width: 256px;
    background-color: #e1e1e1;
    color: #222224;
    border: none;
    -moz-border-radius-topleft: 90px;
    -webkit-border-top-left-radius: 90px;
     border-top-left-radius: 90px;
    -moz-border-radius-bottomleft: 90px;
    -webkit-border-bottom-left-radius: 90px;
    border-bottom-left-radius: 90px;
    padding-left: 22px;
    margin-right: -3px;
}

.footer__top-input:focus{
    outline: none;
}

.footer__top-button {
    margin: 32px 0 0 0;
    min-height: 50px;
    width: 100px;
    background-color: #f16d7f;
    color: var(--white-text);
    border: none;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
     border-top-left-radius: 5px;
    -moz-border-radius-topright: 90px;
    -webkit-border-top-right-radius: 90px;
    border-top-right-radius: 90px;
    -moz-border-radius-bottomright: 90px;
    -webkit-border-bottom-right-radius: 90px;
    border-bottom-right-radius: 90px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.footer__top-button:hover{
    background-color: transparent;
    color: var(--pink-text);
    border: 1px solid var(--pink-text);
}

.footer__bottom {
    background-color: var(--black);
    min-height: 79px;
}

.footer__bottom-wrp {
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom-list{
    display: flex;
}

.footer__bottom-copy{
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer__bottom-link{
    fill: black;
    margin: 0 8px 0 0;
}

.footer__bottom-link:hover{
    fill: white;
    stroke: var(--pink-text);
}

.registration__wrp{
    display: flex;
    justify-content: space-between;
    margin: 64px 0 96px 0;
}

.registration-title{
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
    padding: 60px 0 60px 0;
    background-color:#f8f3f4;
}

.registration__input-title{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.registration__radio{
    margin: 35px 0 35px 0;
}

.registration__sub-input{
    margin: 0 0 20px 0;
    display: block;
    height: 45px;
    width: 450px;
}

.registration__input-text{
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #b1b1b1;
    margin: 0 0 39px 0;
}

.registration__input-button{
    color: #ffffff;
    text-transform: uppercase;
    background-color: #f16d7f;
    border: none;
    padding: 17px 66px 17px 30px;
    position: relative;
}

.registration__input-button::after{
    content: '';
    position: absolute;
    background-image: url('../img/whitearrow.svg');
    width: 17px;
    height: 10px;
    top: 22px;
    right: 27px;
}

.registration__information-title{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color:#000000;
    margin: 0 0 22px 0;
}

.registration__information-text{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color:#000000;
    margin: 0 0 21px 0;
}

.registration__information-item{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color:#000000;
    margin: 0 0 16px 0;
    position: relative;
    padding: 0 0 0 30px;
}

.registration__information-item:before{
    content: '';
    width: 15px;
    height: 15px;
    background-image: url('../img/check_mark.svg');
    background-size: 15px 15px;
    position: absolute;
    top: 10px;
    left: 10px;
}

